.bg-blue {
  background-color: #213f9a;
}
.bg-white {
  background-color: #f2f3fc;
}
.header {
  padding-top: 100px !important;
}
.section-header {
  max-width: 90% !important;
}
.top-min10 {
  margin-top: -13%;
}
.cz-h-ratting {
  height: 151px;
}
.cz-h-button {
  height: 91px;
}
.btn-blue {
  background-color: #213f9a !important;
  border-color: #213f9a !important;
}
.bg-star {
  background-color: #ffd500;
}
/* btn icon rating */
.bg-icon-default {
  background-color: #f2f3fc;
}
.bg-icon-default span {
  color: #213f9a;
}
.bg-icon-click {
  background-color: #213f9a;
}
.bg-icon-click span {
  color: #f2f3fc;
}
.bg-icon-default:hover {
  background-color: #213f9a;
  cursor: pointer;
}
.bg-icon-default:hover span {
  color: #f2f3fc !important;
}
.border-card {
  border: 1px solid #213f9a !important;
}

.h-button {
  height: 64px;
}
.btn-save {
  background-color: #ec5604;
}
textarea {
  background-color: #f2f2f2;
}
textarea::placeholder {
  font-size: 1.23047rem;
  color: #b5b5b5;
  padding: 20px;
}
.bottom-rounded {
  border-radius: 0 0 0.25rem 0.25rem;
}
/* stars */
.demo {
  font-size: 1.8rem;
}
.demo i.fa-star-o {
  margin-right: 0px;
  background-color: lightgray;
  color: white !important;
  width: 64px;
  height: 64px;
  line-height: 64px;
  margin-left: 8px;
  align-items: center;
  border-radius: 0.75rem !important;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
}
.demo i.fa-star {
  background-color: #ffd500;
  color: white !important;
  width: 64px;
  height: 64px;
  line-height: 64px;
  margin-left: 8px;
  align-items: center;
  border-radius: 0.75rem !important;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
}
.demo i::before {
  box-sizing: border-box;
}
/* media query */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .demo i.fa-star-o {
    margin-right: 0px;
    background-color: lightgray;
    color: white !important;
    width: 34px;
    height: 34px;
    line-height: 34px;
    margin-left: 8px;
    align-items: center;
    border-radius: 0.75rem !important;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
  }
  .demo i.fa-star {
    background-color: #ffd500;
    color: white !important;
    width: 34px;
    height: 34px;
    line-height: 34px;
    margin-left: 8px;
    align-items: center;
    border-radius: 0.75rem !important;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
  }
  .top-min10 {
    margin-top: -22%;
  }
  .header {
    padding-top: 60px !important;
    padding-bottom: 0px !important;
  }
  h3.text-value {
    font-size: 1.4rem;
  }
  .col-4 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .font-size-16 {
    font-size: 0.99rem !important;
  }
  .header-title {
    font-size: 1.5rem !important;
  }
  .text-caption {
    font-size: 1rem;
  }
  textarea::placeholder {
    font-size: 0.73047rem;
  }
}
@media only screen and (min-width: 411px) and (max-width: 767px) {
  .demo i.fa-star-o {
    margin-right: 0px;
    background-color: lightgray;
    color: white !important;
    width: 54px;
    height: 54px;
    line-height: 54px;
    margin-left: 8px;
    align-items: center;
    border-radius: 0.75rem !important;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
  }
  .demo i.fa-star {
    background-color: #ffd500;
    color: white !important;
    width: 54px;
    height: 54px;
    line-height: 54px;
    margin-left: 8px;
    align-items: center;
    border-radius: 0.75rem !important;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
  }
  .header-title {
    font-size: 1.99rem !important;
  }
  .header {
    padding-top: 60px !important;
    padding-bottom: 0px !important;
  }
  .col-4 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .text-caption {
    font-size: 1.1rem;
  }

  textarea::placeholder {
    font-size: 0.93047rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 667px) {
  .demo i.fa-star-o {
    margin-right: 0px;
    background-color: lightgray;
    color: white !important;
    width: 34px;
    height: 34px;
    line-height: 34px;
    margin-left: 8px;
    align-items: center;
    border-radius: 0.75rem !important;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
  }
  .demo i.fa-star {
    background-color: #ffd500;
    color: white !important;
    width: 34px;
    height: 34px;
    line-height: 34px;
    margin-left: 8px;
    align-items: center;
    border-radius: 0.75rem !important;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
  }
  h3.text-value {
    font-size: 1.4rem;
  }
  .header {
    padding-top: 40px !important;
    padding-bottom: 0px !important;
  }
  .header-title {
    font-size: 1.5rem !important;
  }
  .col-4 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .font-size-16 {
    font-size: 0.86rem !important;
  }
  .text-caption {
    font-size: 0.89rem;
  }
  .ml-6 {
    margin-left: 0px !important;
  }
  .text-how {
    font-size: 1.3rem;
  }

  textarea::placeholder {
    font-size: 0.73047rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .h-175 {
    height: 175px !important;
  }
}
